name: build.yml
on:
  workflow_dispatch:
  schedule:
    - cron: "0 3,9,15,21 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "RELEASE_NAME=Released on $(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "ANTIFILTER_DOWNLOAD=https://antifilter.download/list/domains.lst" >> $GITHUB_ENV
          echo "ANTIFILTER_DOWNLOAD_COMMUNITY=https://community.antifilter.download/list/domains.lst" >> $GITHUB_ENV
          echo "REFILTER_ALL=https://raw.githubusercontent.com/1andrevich/Re-filter-lists/refs/heads/main/domains_all.lst" >> $GITHUB_ENV
          echo "PETERLOWE_REJECT_URL=https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=1&mimetype=plaintext" >> $GITHUB_ENV
          echo "ADGUARD_DNS_REJECT_URL=https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt" >> $GITHUB_ENV
          echo "WIN_SPY=https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt" >> $GITHUB_ENV
          echo "WIN_UPDATE=https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/update.txt" >> $GITHUB_ENV
          echo "WIN_EXTRA=https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/extra.txt" >> $GITHUB_ENV
          echo "GFW=https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/refs/heads/release/gfw.txt" >> $GITHUB_ENV
          echo "GREATFIRE=https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/refs/heads/release/greatfire.txt" >> $GITHUB_ENV
        shell: bash

      - name: Checkout repositories
        uses: actions/checkout@v4

      - name: Checkout runetfreedom/russia-domains-list
        uses: actions/checkout@v4
        with:
          repository: runetfreedom/russia-domains-list
          path: additional

      - name: Checkout runetfreedom/domain-list-custom
        uses: actions/checkout@v4
        with:
          repository: runetfreedom/domain-list-custom
          path: custom

      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v4
        with:
          repository: v2fly/domain-list-community
          path: community

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./custom/go.mod
          cache-dependency-path: ./custom/go.sum

      - name: Get and add domain lists
        run: |          
          curl -sSL $ANTIFILTER_DOWNLOAD > ./antifilter-download.txt
          curl -sSL $ANTIFILTER_DOWNLOAD_COMMUNITY > ./antifilter-download-community.txt
          curl -sSL $REFILTER_ALL > ./refilter.txt
          curl -sSL $WIN_SPY | grep "0.0.0.0" | awk '{print $2}' > ./win-spy.txt
          curl -sSL $WIN_UPDATE | grep "0.0.0.0" | awk '{print $2}' > ./win-update.txt
          curl -sSL $WIN_EXTRA | grep "0.0.0.0" | awk '{print $2}' > ./win-extra.txt
          curl -sSL $GFW > ./community/data/gfw.txt
          curl -sSL $GREATFIRE > ./community/data/greatfire.txt
          cp {antifilter-download,antifilter-download-community,refilter,win-spy,win-update,win-extra}.txt ./community/data/
          for f in ./community/data/*.txt; do mv "$f" "${f//.txt/}"; done
          rm -rf ./additional/README.md
          mv ./additional/* ./community/data/

      - name: Build ad block
        run: |
          curl -sSL $ADGUARD_DNS_REJECT_URL | perl -ne '/^\|\|([-_0-9a-zA-Z]+(\.[-_0-9a-zA-Z]+){1,64})\^$/ && print "$1\n"' | perl -ne 'print if not /^[0-9]{1,3}(\.[0-9]{1,3}){3}$/' > temp-reject.txt
          curl -sSL $PETERLOWE_REJECT_URL | perl -ne '/^127\.0\.0\.1\s([-_0-9a-zA-Z]+(\.[-_0-9a-zA-Z]+){1,64})$/ && print "$1\n"' >> temp-reject.txt
          sed -i '/t.co/d' temp-reject.txt
          sort -u temp-reject.txt | awk 'length($0) < 40' | grep -Ei -v "casino|bet|poker|gambl|slot|winline|1xbet|fonbet|lucky|vulkan" | head -n 25000 > ./community/data/category-ads-all
          rm temp-reject.txt

      - name: Merge, Filter and Slim Ru-Blocked
        run: |
          cat ./community/data/antifilter-download \
              ./community/data/antifilter-download-community \
              ./community/data/refilter | sed '/^#/d; /^[[:space:]]*$/d' > raw_unfiltered.txt

          for provider in amazonaws.com googleusercontent.com cloudfront.net akamaized.net azurewebsites.net cloudflare.net fastly.net netlify.app googlevideo.com gvt1.com apple.com mzstatic.com; do
            sed -i -E "s/.*\\.$provider$/$provider/" raw_unfiltered.txt
          done

          grep -Fivf "blocked_keywords.txt" raw_unfiltered.txt | \
          grep -Ei -v "^1w[a-z0-9]{1,8}\.(life|top|win|xyz|com|site|online|link)$" | \
          grep -Ei -v "^1vv[a-z0-9]{1,10}\.(life|top|win|xyz|com|site|online|link)$" | \
          grep -Ei -v "^gw[a-z0-9]{4,5}x\.(life|space|rest|click|run|today|site|live|sbs|pro|vip|top|com)$" | \
          grep -Ei -v "^kr[0-9a-z-]{1,8}\.(cc|at|ru|com|net|xyz|ink|to|icu|space|pw|li|st|my|su|cfd|click)$" | \
          grep -v "trans" | \
          grep -v "ass" | \
          grep -Ei -v "pegas" | \
          grep -Ei -v "^(casi|casin)[0-9]+" | \
          grep -Ei -v "^igr[aioy]" | \
          grep -Ei -v "([vw][u1l]{1,2}[l1k][ck][a4]n|vlk|vlc)" | \
          grep -Ei -v "^(ww[^w.]|ww[0-9]|ww-|wv|w-w)" | \
          grep -Ei -v "(..+xnxx|xnxx..+)" | \
          grep -Ei -v "zoo([^m]|$)" | \
          grep -Ei -v "^auf([-.]|[0-9a-z]*[0-9])[0-9a-z]*\." | \
          grep -Ei -v "c[4a][sz][1i0o][n0o]" | \
          grep -Ei -v "^(0|q|xxx)\." | \
          grep -Ei -v "^(x|q|nu|b|x-|q-)[0-9]+\." | \
          grep -v "video1\.video1" | \
          grep -v "\.onion\." | \
          grep -Ei -v "^up[a-z0-9]{2,8}x\.(life|tech|xyz|com|su|ru)$" | \
          grep -Ei -v "\.(homes|monster|space|рф|today|xn--p1ai|онлайн|сайт|блог|москва|porn|sx|cam|buzz|cfd)$" | \
          grep -Ei -v "(^[0-9]{4,}|[a-z0-9]{15,})" | \
          grep -Ei -v "[a-f0-9]{32,}" | \
          grep -Ei -v "casino|bet|poker|gambl|slot|winline|1xbet|fonbet|lucky|vulkan" | \
          awk -F. 'NF <= 4' | awk 'length($0) < 32' | sort -u > clean_merged.txt

          awk '
            {
              is_sub=0; n=split($0, p, ".");
              for(i=2; i<=n; i++) {
                pa=""; for(j=i; j<=n; j++) pa=(pa==""?p[j]:pa"."p[j]);
                if(pa in seen){is_sub=1; break}
              }
              if(!is_sub){print; seen[$0]=1}
            }
          ' clean_merged.txt > ./community/data/ru-blocked-all

          rm raw_unfiltered.txt clean_merged.txt
          rm ./community/data/antifilter-download ./community/data/antifilter-download-community ./community/data/refilter

      - name: Build Ru only list
        run: |
          mkdir -p ./community/data-ru
          cp ./community/data/{category-ads-all,private,ru-available-only-inside,category-gov-ru,ru-blocked-all} ./community/data-ru/
          
      - name: Build geosite.dat file
        run: |
          cd custom || exit 1
          go run ./ --exportlists= --datname=geosite-ru-only.dat --togfwlist=ru-blocked-all --datapath=../community/data-ru
          go run ./ --exportlists=category-ads-all,google,youtube,discord,ru-blocked-all,private --datapath=../community/data

      - name: Move and generate sha256 hash
        run: |
          mkdir -p ./publish
          install -Dp ./custom/publish/geosite.dat ./publish/geosite.dat
          sha256sum ./publish/geosite.dat > ./publish/geosite.dat.sha256sum

      - name: Release and upload assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.TAG_NAME }}
          file_glob: true
          file: ./publish/*

      - name: Git push assets to "release" branch
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
